html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	/* Set your content font stack here: */
	font-family: Helvetica, sans-serif;
}

table {
	border-style: none!important;
}

table td{
	text-align: center;
}

h1 {
	margin-top: -5px!important;
}

#intro {
	padding: 1rem 3rem;
}

#intro p {
	font-size: 1.25rem;
}

#stats h2 {
	text-align: center;
}

#stats h3 {
	text-align: center;
	font-weight: normal;
}

.ward-donut-legend {
	text-align: center;
}

.legend-label {
	font-size: 10px;
	margin: auto 5px;
	display: inline-block;
}

.legend-label-color {
	display: inline-block;
	height: 0.6em;
	width: 0.6em;
	border: 1px solid #666;
	border-radius: 0.3em;
}

dl {
	padding: 2px;
	line-height: 2em;
}

dt {
	/*float: left;
	width: 100px; */
	text-align: center;
	font-weight: bold;
	font-size: .7em;
	text-transform: uppercase;
	line-height: 1em;
	margin-top: -12px;
	color: #1B3B56;
}

dd {
	/*margin-left: 100px; */
	text-align: center!important;
	font-size: 1.8em;
	color: #E7494B;
}

#wrapper {
	height: 100%;
}

#map {
	width: 100%;
	height:100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	z-index: -1000;
}

#sidebar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30%;
	height: 100%;
	color: #9299A5;
	background-color: white;
	padding: 20px 20px 0 20px;
	z-index: 1000;
	overflow: auto;
}

#stats {
	margin-top: 20px;
}

.cat {
	padding-bottom: 8px;
	font-size: 22px;
	text-align: left;
	color: #1B3B56;
}

.heading {
	text-align: center;
}

.pure-menu, .pure-menu-item {
	color: #9299A5;
	background-color: #EDF4F7;
}

.pure-menu-link {
	color: #9299A5;
}

.pure-menu-selected .pure-menu-link:visited {

}

#division-candidates-table-wrapper td:first-child {
	text-decoration: italic;
	font-weight: bold;
	text-align: center;
}

#division-candidates-table-wrapper td li {
	font-size: 0.75rem;
}

.top-bar-section label {
	display: inline-block;
	font-size: 0.8125rem;
}

nav.top-bar .top-bar-section label {
	font-family: 'Montserrat', 'Tahoma', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

@media only screen and (min-width: 40.0625em) {
	.top-bar-section label {
		background: #fff;
		line-height: 2.1875rem;
		padding: 0 1.09375rem;
	}
}


/* === SVG chart styles === */

.c3-bars-Number-of-Voters .c3-bar {
	stroke: black!important;
	stroke-opacity: 0.5;
	stroke-width: 1px;
}
