#dem_processed_divisions {
   polygon-opacity: 0.7;
   line-color: #FFF;
   line-width: 0.5;
   line-opacity: 1;
}

#dem_processed_divisions[top_bullet="Domb"] {
   polygon-fill: #1F78B4;
}
#dem_processed_divisions[top_bullet="Green"] {
   polygon-fill: #229A00;
}
#dem_processed_divisions[top_bullet="Gym"] {
   polygon-fill: #7B00B4;
}
#dem_processed_divisions[top_bullet="Neilson"] {
   polygon-fill: #E31A1C;
}
#dem_processed_divisions[top_bullet="Reynolds Brown"] {
   polygon-fill: #FF7F00;
}
#dem_processed_divisions[top_bullet="Thomas"] {
   polygon-fill: #e3e31a;
}
#dem_processed_divisions {
   polygon-fill: #000000;
}

/* Color ties gray */
#dem_processed_divisions[top_bullet=~"Tie: .*"] {
   polygon-fill: #ccc;
}

/* Just hide divisions with no top_bullet */
#dem_processed_divisions[top_bullet=null] {
   polygon-opacity: 0;
}

#dem_processed_divisions [ top_bullet_scale <= 0.539772727272727] {
   polygon-opacity: 0.9;
}
#dem_processed_divisions [ top_bullet_scale <= 0.128] {
   polygon-opacity: 0.8;
}
#dem_processed_divisions [ top_bullet_scale <= 0.0972222222222222] {
   polygon-opacity: 0.7;
}
#dem_processed_divisions [ top_bullet_scale <= 0.0812182741116751] {
   polygon-opacity: 0.6;
}
#dem_processed_divisions [ top_bullet_scale <= 0.0656370656370656] {
   polygon-opacity: 0.5;
}
#dem_processed_divisions [ top_bullet_scale <= 0.0540540540540541] {
   polygon-opacity: 0.4;
}
#dem_processed_divisions [ top_bullet_scale <= 0.0413223140495868] {
   polygon-opacity: 0.3;
}